
:root{
  --bg-color:#111;
  --texts-color:#fff;
  --red-color:rgb(244, 52, 52);
  --yello-color:#e0b90c;
  --background-iamge:url("/photos/Sun.png");
}
.lightmode{
  --bg-color:#fff;
  --texts-color:#000;
  --red-color:rgb(244, 52, 52);
  --yello-color:#e0b90c;
  --background-iamge:url("/photos/Moon.png");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  body{
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  .navbar {
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    gap: 20px;
    box-shadow: 0 0 1px var(--texts-color);
    
  }
  .navbar span{
    color: var(--red-color);
  }
  .navbar h1{
    color: var(--texts-color);
  }
  .logo {
    font-size: 24px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  .nav-links a {
    position: relative;
    color: var(--texts-color);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    transition: 0.5s ease;

  }
  .nav-links a:hover{
    color: var(--red-color);
  }
  .nav-links a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--red-color);
    transition: width 0.3s ease;
  }
  .nav-links a:hover::after{
    width: 100%;
  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger span {
    height: 3px;
    width: 25px;
    background: var(--texts-color);
    margin: 4px 0;
  }

  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 70px;
      right: 0;
      background: var(--bg-color);
      width: 100%;
      flex-direction: column;
      text-align: center;
      display: none;
    }
  
    .nav-links li {
      margin: 15px 0;
    }
  
    .hamburger {
      display: flex;
    }
  
    .nav-links.active {
      display: flex;
    }
  }  
  #thems{
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    background-image:var(--background-iamge);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  .dark{
    display: block;
  }
  .light{
    display: none;
  }
