
:root{
  --bg-color:#111;
  --texts-color:#fff;
  --red-color:rgb(244, 52, 52);
  --yello-color:#e0b90c;
  --background-iamge:url("/photos/Sun.png");
}
.lightmode{
  --bg-color:#fff;
  --texts-color:#000;
  --red-color:rgb(244, 52, 52);
  --yello-color:#e0b90c;
  --background-iamge:url("/photos/Moon.png");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  body{
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  .navbar {
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    gap: 20px;
    box-shadow: 0 0 1px var(--texts-color);
    
  }
  .navbar span{
    color: var(--red-color);
  }
  .navbar h1{
    color: var(--texts-color);
  }
  .logo {
    font-size: 24px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  .nav-links a {
    position: relative;
    color: var(--texts-color);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    transition: 0.5s ease;

  }
  .nav-links a:hover{
    color: var(--red-color);
  }
  .nav-links a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--red-color);
    transition: width 0.3s ease;
  }
  .nav-links a:hover::after{
    width: 100%;
  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger span {
    height: 3px;
    width: 25px;
    background: var(--texts-color);
    margin: 4px 0;
  }

  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 70px;
      right: 0;
      background: var(--bg-color);
      width: 100%;
      flex-direction: column;
      text-align: center;
      display: none;
    }
  
    .nav-links li {
      margin: 15px 0;
    }
  
    .hamburger {
      display: flex;
    }
  
    .nav-links.active {
      display: flex;
    }
  }  
  #thems{
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    background-image:var(--background-iamge);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  .dark{
    display: block;
  }
  .light{
    display: none;
  }
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("photos/bg1.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: animate 10s linear infinite;

}
.home::before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
@keyframes animate{
  30%{
    background-image: url("./photos/bg1.jpg");
  }
  50%{
    background-image: url("./photos/bg2.jpg");
  }
  100%{
    background-image: url("./photos/bg3.jpeg");
  }
}
.home h1{
  color: var(--yello-color);
  font-size: 45px;
  text-shadow: 0 0 5px black;
}
.home .info{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 80px;
  text-align: center;
} 
.home .text-container{
  position: relative;
  font-size: 30px;
}
.home p{
  color: #fff;
  text-shadow: 0 0 5px black;
  font-size: 22px;
}
.joinbtn{
  width: 150px;
  height: 50px;
  background-color: var(--red-color);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  transition: .5s ease;
  cursor: pointer;
}
.joinbtn:hover{
  background-color: var(--yello-color);
  color: var(--bg-color);
}
.home .info .join:hover{
  background-color: var(--yello-color);
  color: var(--yello-color);
}
.home .join-form{
  width: 100%;
  max-width: 350px;
  height: 500px;
  background-color: var(--bg-color);
  position: absolute;
  z-index: 1;
  margin-top: 70px;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 0 2px var(--texts-color);

}
.home .join-form .formInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .join-form form{
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .join-form .formInfo h2{
  color: var(--texts-color);
}
.home .join-form form input{
  margin-top: 5px;
  width: 100%;
  height: 35px;
  background-color: var(--bg-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px var(--texts-color);
  color: #fff;
  font-size: 15px;
}
.join-form form label{
  margin-top: 25px;
  color: var(--yello-color);
}
.join-form form button{
  width: 100%;
  height: 40px;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 20px;
  background-color: var(--red-color);
  color: var(--texts-color);
  border: none;

}
.join-form form button:hover{
  background-color: var(--yello-color);
  color: var(--bg-color);
}
.home .join-form .formInfo h2{
  color: var(--texts-color);
}
.home .join-form span{
  text-align: right;
  padding: 10px 10px;
  cursor: pointer;
}
#about{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.about-info{
  width: 60%;
}

.about-info h1{
  padding-bottom: 20px;
  font-size: 32px;
  color: var(--red-color);
}

.about-info p{
  font-size: 16px;
  line-height: 30px;
  color: var(--texts-color);
}
.about-image img{
  width: 100%;
  max-width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  animation: animation 3s ease-in-out infinite;
}
@media (max-width: 768px){
  #about{
    flex-direction: column;
    text-align: center;
  }

  .about-info{
    width: 100%;
  }

  .about-info h1{
    font-size: 26px;
  }

  .about-info p{
    font-size: 15px;
  }
  .about-image img{
    width: 100%;
    max-width: 500px;
    height: 300px;
  }
}
@keyframes animation{
  0%,
  100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-20px);
  }
}

@media (max-width: 768px) {
  .about-info{
    display: flex;
    flex-direction: column;
    text-align: center;

  }
}
